.flexContener{
    display: flex;
    background-color: red;
    align-content: space-between;
    flex-wrap: wrap;
}

.flexContener > div, .flexcolumn > div{
    background-color: yellow;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    width: fit-content;
}

.flexcolumn{
    display: flex;
    background-color: green;
    flex-direction: column;
}